body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header p {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    padding-right: 1em;
    margin-top: -2em;
}

.white,
.white a:link,
.white a:visited {
    color: white;
}

h2 {
    text-align: center;
}

#map {
    width: 100%;
    height: 90vh;
    border: solid black 1px;
    margin: auto;
}